*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
img{
	display: block;
	border: 0;
	width: 236px;
}
.clearfix:after{
	content: ".";
	overflow: hidden;
	visibility: hidden;
	height: 0;
	clear: both;
	display: block;
}
ul{
	margin: 0 auto;
	position: relative;
}
#ul li{
	width: 236px;
	position: absolute;
	transition: 0.5s;
}
.pic{
	margin-top: 10px;
}
 #ol{
  	width:100px;
  	position: fixed;
			bottom: 0;
			right:0;
			z-index:2;
  }
  #ol li{
  	list-style: none;
  	border: 1px solid #000;
  	background:#fff;
  	text-align: center;
  	line-height: 30px;
  	cursor: pointer;
  }
  #ol li:hover{
  	background: seagreen;
  	color: #fff;
 }
