*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
img{
	display: block;
	border: 0;
	width: 236px;
}
.clearfix:after{
	content: ".";
	overflow: hidden;
	visibility: hidden;
	height: 0;
	clear: both;
	display: block;
}
ul{
	margin: 0 auto;
	width: 974px;
	opacity: 0;
    transition: 1s;
}
li{
	width: 236px;
	margin-right: 10px;
	float: left;
}
li:nth-of-type(4){
	margin-right: 0;
}
.pic{
	margin-top: 10px;
}
#div1{
	height: 3px;
	width: 0;
	position: relative;
	background: mediumseagreen;
}
